<ion-tabs>

  <ion-tab-bar slot="top">
    <ion-tab-button tab="tab1" mode='ios'>
      <ion-icon name="ios-book"></ion-icon>
      <ion-label>Livros</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" mode='ios'>
      <ion-icon name="ios-bookmark"></ion-icon>
      <ion-label>Meus Livros</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" mode='ios'>
      <ion-icon name="ios-bookmarks"></ion-icon>
      <ion-label>Em Andamento</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4" mode='ios'>
      <ion-icon name="ios-star"></ion-icon>
      <ion-label>Favoritos</ion-label>
    </ion-tab-button>


  </ion-tab-bar>

</ion-tabs>