<ion-content padding>
  <ion-refresher (ionRefresh)="atualizar($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <ion-item *ngIf="nenhum" color="transparent">
    <ion-img src="/assets/img/nenhum.png"></ion-img>
  </ion-item>
  <ion-item-divider *ngIf="!nenhum" text-center color="primary">Livros que eu já li</ion-item-divider>
  <ion-grid fixed>
    <ion-row>
      <ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3 *ngFor="let item of livrosJaLidos">

        <ion-card>
          <img src="{{item.volumeInfo.imageLinks?.thumbnail}}" class='img'>
          <ion-card-header>
            <ion-card-subtitle text-center color="dark">
              {{item.volumeInfo.title}}
            </ion-card-subtitle>
            <ion-card-content text-center>
              <ion-item>
                <ion-button (click)='abrirLivro(item.id)' size='medium'>
                  <ion-icon name='md-book'></ion-icon>
                </ion-button>
                <ion-button (click)='favoritar(item)' size='medium'>
                  <ion-icon name="ios-star"></ion-icon>
                </ion-button>
                <ion-button (click)=' remove(item)' size='medium'>
                  <ion-icon name='md-trash'></ion-icon>
                </ion-button>
              </ion-item>
            </ion-card-content>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>